/* SASSS VARIABLES */

// RESPONSIVE BREAKPONTS

$bp-tablet: 43.75em; // 700px/16px (root)
$bp-mobile: 31.25em; // 500px
$bp-smobile: 20.625em; // 330px

/* CSS VARIABLES */

:root {
  --Cyan: hsl(179, 62%, 43%);
  --light-cyan: hsla(179, 62%, 43%, 0.8);
  --Bright-Yellow: hsl(71, 73%, 54%);
  --Bright-Yellow-2: hsl(71, 57%, 72%);
  --Grayish-Blue: hsl(218, 22%, 67%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Light-Gray-2: hsl(204, 12%, 84%);

  --shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

  --basic-padding: 5rem 4rem;

  @media only screen and (max-width: $bp-mobile) {
    --basic-padding: 3rem;
  }

  @media only screen and (max-width: $bp-smobile) {
    --basic-padding: 1.5rem;
  }
}

/* BASIC RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px/16px (font-root) = 62.5%
  box-sizing: border-box;
}

.container {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--Light-Gray);
  max-width: 144rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Light-Gray);

  @media only screen and (max-width: $bp-tablet) {
    padding: 7rem 3rem;
  }

  @media only screen and (max-width: $bp-mobile) {
    font-size: 1.3rem;
  }
}

/* GRID */

.grid {
  border-radius: 12px;
  display: grid;
  grid-template-columns:
    [left-start] minmax(0, 32.5rem) [left-end right-start] minmax(0, 32.5rem)
    [right-end];

  background-color: #fff;
  overflow: hidden;
  box-shadow: var(--shadow);

  @media only screen and (max-width: $bp-tablet) {
    grid-template-columns: [left-start right-start] minmax(0, 1fr) [left-end right-end];
  }
}

/* HEADINGS */

%heading {
  font-weight: 700;
  word-spacing: 1px;
}

.heading-1 {
  @extend %heading;
  font-size: 2.2rem;
  color: var(--Cyan);
}

.heading-2 {
  @extend %heading;
  font-size: 2rem;
  color: var(--Bright-Yellow);

  @media only screen and (max-width: $bp-mobile) {
    font-size: inherit;
  }
}

.heading-3 {
  @extend %heading;
  font-size: 1.8rem;
  color: var(--Light-Gray);
  margin-bottom: 2.5rem;
}

/* HEADER */

.header {
  grid-column: left-start / right-end;
  padding: var(--basic-padding);

  &__text {
    color: var(--Grayish-Blue);
    line-height: 1.8rem;

    @media only screen and (max-width: $bp-mobile) {
      line-height: 2.5rem;
    }
  }
}

/* SIGNUP */

.signup {
  grid-column: left-start / left-end;
  padding: var(--basic-padding);
  background-color: var(--Cyan);

  &__price {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--Light-Gray);
    margin-right: 1rem;

    @media only screen and (max-width: $bp-mobile) {
      font-size: 2.6rem;
    }
  }

  &__text {
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-mobile) {
      font-size: 1.5rem;
    }

    &--lgrey2 {
      color: var(--Light-Gray-2);
    }
  }

  &__button:link,
  &__button:visited {
    @extend %heading;
    font-size: 1.8rem;
    color: var(--Light-Gray);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 2rem;
    background-color: var(--Bright-Yellow);
    box-shadow: var(--shadow);
  }
}

.details {
  grid-column: right-start / right-end;
  padding: var(--basic-padding);
  background-color: var(--light-cyan);

  &__list {
    list-style: none;
  }

  &__item {
    color: var(--Bright-Yellow-2);
    line-height: 2.2rem;
  }
}

/* UTILITY CLASSES */

.mblarge {
  margin-bottom: 3rem;
}

.mbsmall {
  margin-bottom: 2rem;
}
